{
  "extends": "/home/landry/.eslintrc",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "ecmaFeatures": {
    "generators": true,
    "forOf": true,
    "blockBindings": true
  }
}
